@attribute [Authorize]
@page "/ratings"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject Terprint.Web.Data.TerprintWebContext DB
@inject common.AppState.StateContainer.RatingCategory asRatingCategory
@inject common.AppState.StateContainer.Strain asStrain
@inject common.AppState.StateContainer.Batch asBatch
@inject common.AppState.StateContainer.Rating asRating 
@using Terprint.Web.Models
@rendermode InteractiveServer


<PageTitle>Index Rating</PageTitle>

<h1>Index</h1>

<p>
    <a href="ratings/create">Create New</a>
</p>
 


<Grid TItem="Rating"
      Class="table table-hover table-bordered table-striped"
      DataProvider="RatingDataProvider"
      AllowFiltering="true"
      AllowPaging="true"
      PageSize="20"
      AllowSorting="true"
      AllowSelection="true"
      Responsive="true">
    <GridColumns>
        <GridColumn TItem="Rating" HeaderText="RatingName" PropertyName="RatingName" SortKeySelector="item => item.userid">
            @context.userid
        </GridColumn>
        <GridColumn TItem="Rating" HeaderText="RatingDescription" PropertyName="Value" SortKeySelector="item => item.Value">
            @context.Value
        </GridColumn>
        <GridColumn TItem="Rating" HeaderText="Notes" PropertyName="Notes" SortKeySelector="item => item.Notes">
            @context.Notes
        </GridColumn>
        <GridColumn TItem="Rating" HeaderText="BatchID" PropertyName="BatchID" SortKeySelector="item => item.BatchID">
            @context.BatchID
        </GridColumn>
        <GridColumn TItem="Rating" HeaderText="BatchID" PropertyName="BatchID" SortKeySelector="item => asStrain.Strains.Where(t=>t.StrainId==asBatch.Batches.Where(t=>t.BatchId==item.BatchID ).FirstOrDefault().StrainID).FirstOrDefault().StrainName">
            @context
        </GridColumn>
        <GridColumn TItem="Rating" HeaderText="created" PropertyName="created" SortKeySelector="item => item.created">
            @context.created
        </GridColumn>
        <GridColumn TItem="Rating" HeaderText="createdby" PropertyName="createdby" SortKeySelector="item => item.createdby">
            @context.createdby
        </GridColumn>

    </GridColumns>

</Grid>
@code {

    private IEnumerable<Rating> Ratings;
    private HashSet<Rating> selectedRatings = new();

    protected override void OnInitialized()
    {
        Ratings = asRating.Ratings.OrderByDescending(t => t.created).ToList();
    }

    private async Task<GridDataProviderResult<Rating>> RatingDataProvider(GridDataProviderRequest<Rating> request)
    {
        return await Task.FromResult(request.ApplyTo(Ratings));
    }

}