@attribute [Authorize]
@inject Terprint.Web.Data.TerprintWebContext DB
@using Terprint.Web.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore
@inject common.AppState.StateContainer.RatingCategory asRatingCategory

<PageTitle>Delete RatingCategory</PageTitle>

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RatingCategory</h4>
    <hr />
    @if (ratingcategory is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">RatingCategoryType</dt>
            <dd class="col-sm-10">@ratingcategory.RatingCategoryType</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">CategoryName</dt>
            <dd class="col-sm-10">@ratingcategory.CategoryName</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">CategoryDescription</dt>
            <dd class="col-sm-10">@ratingcategory.CategoryDescription</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">CategoryTitle</dt>
            <dd class="col-sm-10">@ratingcategory.CategoryTitle</dd>
        </dl>
        <EditForm method="post" Model="ratingcategory" OnValidSubmit="DeleteRatingCategory" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(ratingcategory is null)">Delete</button> |
            <a href="/ratingcategories">Back to List</a>
        </EditForm>
    }
</div>

@code {
    RatingCategory? ratingcategory;

    [SupplyParameterFromQuery]
    public int RatingCategoryId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ratingcategory = await DB.RatingCategory.FirstOrDefaultAsync(m => m.RatingCategoryId == RatingCategoryId);

        if (ratingcategory is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    public async Task DeleteRatingCategory()
    {
        DB.RatingCategory.Remove(ratingcategory!);
        await DB.SaveChangesAsync();

        asRatingCategory.RatingCategories.Remove(ratingcategory!);
        NavigationManager.NavigateTo("/ratingcategories");
    }
}
