@page "/ratingcategories/details"
@inject Terprint.Web.Data.TerprintWebContext DB
@using Terprint.Web.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Details RatingCategory</PageTitle>

<h1>Details</h1>

<div>
    <h4>RatingCategory</h4>
    <hr />
    @if (ratingcategory is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">RatingCategoryType</dt>
            <dd class="col-sm-10">@ratingcategory.RatingCategoryType</dd>
            <dt class="col-sm-2">CategoryName</dt>
            <dd class="col-sm-10">@ratingcategory.CategoryName</dd>
            <dt class="col-sm-2">CategoryDescription</dt>
            <dd class="col-sm-10">@ratingcategory.CategoryDescription</dd>
            <dt class="col-sm-2">CategoryTitle</dt>
            <dd class="col-sm-10">@ratingcategory.CategoryTitle</dd>
        </dl>
        <div>
            <a href="@($"/ratingcategories/edit?ratingcategoryid={ratingcategory.RatingCategoryId}")">Edit</a> |
            <a href="@($"/ratingcategories")">Back to List</a>
        </div>
    }
</div>

@code {
    RatingCategory? ratingcategory;

    [SupplyParameterFromQuery]
    public int RatingCategoryId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ratingcategory = await DB.RatingCategory.FirstOrDefaultAsync(m => m.RatingCategoryId == RatingCategoryId);

        if (ratingcategory is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
