@page "/CannabinoidMatcher"
@inject common.AppState.StateContainer.Batch asbatch
@inject common.AppState.StateContainer.Grower appstategrower
@inject common.AppState.StateContainer.THCValue asthcvalue
@inject common.AppState.StateContainer.Strain asStrain
@rendermode InteractiveServer
<h3>Cannabinoid Matcher</h3>

@{
    var analytes = asthcvalue.THCValues
    .OrderBy(t => t.Analyte)
    .Select(t =>
        t.Analyte.Trim()

    )
    .Distinct()
    .ToList();

    MarkupString rowend = new MarkupString("</div><div class=\"row\">");
    MarkupString filler = new MarkupString("<div class=\"col\"> </div>");
    // select t.Analyte,count(t.Analyte) from THCValues t group by t.Analyte order by count(t.Analyte)  desc
    var analytecounts = asthcvalue.THCValues
    .GroupBy(t => t.Analyte)
     .Select(group => new
     {
         Analyte = group.Key,
         Count = group.Count()
     })
                        .OrderBy(x => x.Analyte) ;
}
<div class="=container">
    <div class="row">
        <div class="col-12 text-center">
            @{
                string Any = "Any"; string All = "All";
            }
            <Badge Color="BadgeColor.Primary">  Find batches <strong>that have (<InputRadioGroup Name="anyorall" TValue="string" @bind-Value="@anyorall"> <InputRadio checked type="radio" Value="@Any" />Any <InputRadio type="radio" Value="@All" />All </InputRadioGroup>  ) </strong> of the following cannabinoids selected;</Badge>
            @*              *@
        </div>
    </div>
    <div class="row">
        @{
            var ac = asthcvalue.THCValues
            .GroupBy(t => t.Analyte.Trim().ToLower())
            .Select(group => new
            {
                Analyte = group.Key,
                Count = group.Count() 
            });
        } 
        @if (SelectablePatterns is not null)
        {

            int i = 1;
            foreach (var item in SelectablePatterns)
            {
                <div class="col">
                    <input title="@item" name="@item" type="checkbox" @bind-value="@item.IsSelected" />
                    @{
                        var values = ac.Where(t => t.Analyte.Trim().ToLower() == item.Name.Trim().ToLower()).FirstOrDefault();
                    }
                    @item.Name (@values.Count) 
                </div>
                if (i % 5 == 0)
                {
                    @rowend

                }
                i++;
            }
            if (i < 24)
            {
                while (i <= 20)
                {
                    @filler
                    i++;
                }
            }


        }
    </div>
</div>
<div class="=container">
    <div class="row">
        <div class="col-12 text-center">

            <Badge Color="BadgeColor.Primary"> Make sure the batches <strong>do not have</strong> these cannabinoids:</Badge>
        </div>
    </div>
    <div class="row">
        @if (UnSelectablePatterns is not null)
        {
            int i = 1;
            foreach (var item in UnSelectablePatterns)
            {
                <div class="col">
                    <input title="@item" name="@item" type="checkbox" @bind-value="@item.IsSelected" />
                    @item.Name
                </div>
                if (i % 5 == 0)
                {
                    @rowend

                }
                i++;
            }
            if (i < 24)
            {
                while (i <= 20)
                {
                    @filler
                    i++;
                }
            }

        }

    </div>
</div>

@{
    List<string> analyteswewant = SelectablePatterns.Where(sp => sp.IsSelected)
    .Select(t1 => t1.Name.Trim().ToLower()).ToList();

    List<string> analyteswewantnot = UnSelectablePatterns.Where(sp => sp.IsSelected)
    .Select(t1 => t1.Name.Trim().ToLower()).ToList();

    List<int?> batchidlist = new List<int?>();
    List<int?> batchidlistfiltered = new List<int?>();

    batchidlist = asthcvalue.THCValues
    .Where(t =>
       analyteswewant
    .Contains(t.Analyte.Trim().ToLower()))
    .Select(t => t.BatchID)
    .ToList();
    if (anyorall == "Any")
    {
        batchidlist = asthcvalue.THCValues
        .Where(t =>
           analyteswewant
        .Contains(t.Analyte.Trim().ToLower()))
        .Select(t => t.BatchID)
        .ToList();

    }
    else if (anyorall == "All")
    {
        bool all = false;
        foreach (var b in batchidlist)
        {
            int countofA = 0;
            List<AnalyteInBatch> alllist = new List<AnalyteInBatch>();

            foreach (var analyte in asthcvalue.THCValues.Where(t => t.BatchID == b).Select(t => t.Analyte.Trim().ToLower()))
            {
                if (analyteswewant.Contains(analyte))
                {
                    countofA++;
                }
            }
            if (countofA == analyteswewant.Count())
            {
                batchidlistfiltered.Add(b);
            }
        }


    }
    if (anyorall == "All" && batchidlist.Count() != batchidlistfiltered.Count())
    {
        batchidlist = batchidlistfiltered;
    }

    batchidlistfiltered = asthcvalue.THCValues
    .Where(t => batchidlist.Contains(t.BatchID))
        .Where(t =>
    analyteswewantnot
        .Contains(t.Analyte.Trim().ToLower()))
        .Select(t => t.BatchID)
        .ToList();

    List<int?> filteredbatches = new List<int?>();

    foreach (int i in batchidlist)
    {
        if (batchidlistfiltered.Contains(i))
        {

        }
        else
        {
            filteredbatches.Add(i);
        }
    }


    var batches = asbatch.Batches
        .OrderBy(t => asStrain.Strains.Where(t1 => t1.StrainId == t.StrainID).FirstOrDefault().StrainName)
        // .OrderByDescending(t => t.Date)
        .Where(t => filteredbatches.Contains(t.BatchId))
        .ToList();
}

<div class="card">
    <div class="card-header">
        <p class="card-title" style="mix-blend-mode:difference;color:white">
            List of Batches with
            <strong> @string.Join(",", SelectablePatterns.Where(sp => sp.IsSelected).Select(t => t.Name).ToList())  </strong>

            and not with
            <strong>   @string.Join(",", UnSelectablePatterns.Where(sp => sp.IsSelected).Select(t => t.Name).ToList())   </strong>
        </p>
    </div>
    <div class="card-body">
        <h6>@batches.Count() Batches</h6>
    </div>
</div>
@{
    foreach (var batch in batches)
    {

        { bd = new ChooserBatch.BatchData() { batch = batch.Name, batchId = (int)batch.BatchId }; }
        <div class="card">
            <div class="card-body">
                <TerprintTable @bind-batch="@batch.Name" @bind-batchData="@bd" @bind-matrix="@matrix" @bind-size="@size" @bind-rendermode="@rm"></TerprintTable>
            </div>
        </div>

    }
}


@code {

    public class AnalyteInBatch { public int? batch; public string analyte; public bool contained; }
    private String _anyorall = "Any";

    public String anyorall
    {
        get => _anyorall;
        set
        {
            _anyorall = value;
            // Set the property of the ViewModel used in your Model Property of the EditContext or any other property/field

        }
    }

    public TerprintTable.renderMode rm { get; set; } = TerprintTable.renderMode.tableandheader;
    public int? matrix { get; set; } = 5;
    public string? size { get; set; } = "small";
    public Components.ChooserBatch.BatchData bd = new ChooserBatch.BatchData();
    class SelectablePattern { public string Name; public bool IsSelected; }
    List<SelectablePattern> SelectablePatterns;
    List<SelectablePattern> UnSelectablePatterns;
    public List<KeyValuePair<string, bool>> checkValues;
    // public List<THCValue> cannbinoidList;
    public void CheckChanged(ChangeEventArgs e)
    {

    }
    public List<Batch> batchList;
    public List<canValue> canvalues;
    public canValue canvalue;


    public InputSelect<canValue> cannabinoidList;

    public class canValue
    {
        public string analyte;
    }
    protected override void OnInitialized()
    {
        var analytes = asthcvalue.THCValues
       .OrderBy(t => t.Analyte)
       .Select(t =>
       t.Analyte.Trim()

       )
       .Distinct()
       .ToList();

        var distinctList = analytes.Distinct(
        StringComparer.CurrentCultureIgnoreCase).ToList();

        SelectablePatterns = distinctList.Select(pat => new SelectablePattern { Name = pat }).ToList();
        UnSelectablePatterns = distinctList.Select(pat => new SelectablePattern { Name = pat }).ToList();
    }

}