@inject Terprint.Web.Data.TerprintWebContext DB
@inject Terprint.Web.Data.TerprintWebContext2 DB2
@using Terprint.Web.Models
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

@inject common.AppState appstate

<div class="mb-3">
    <label for="batch" class="form-label">Batch:</label>
    <InputSelect id="batch" class="m-0 form-control" @bind-Value="@TerpeneValue.BatchID" @oninput="OnBatchIdChanged">
        @if (batch is not null && batch.Length > 0)
        {
            if (Batches.Where(t => t.Name.Trim() == batch.Trim()).FirstOrDefault() is null)
            {
                <option selected disabled>Select Batch</option>
            }
            else
            {
                batchin = true;
            }
        }

        <option selected disabled>Select Batch</option>
        @foreach (var b in Batches.OrderBy(t=>t.StrainID))
        {

            if (batchin && batch.Trim() == b.Name.Trim())
            {
                <option selected value=@b.BatchId @onselect="() => BatchId = (int)b.BatchId">@DB2.Strain.Where(t => t.StrainId == @b.StrainID).FirstOrDefault().StrainName  @b.Date  @b.Name</option>

                {
                    BatchId =(int) b.BatchId;
                }

            }
            else
            {
                <option value=@b.BatchId @onselect="() => BatchId = (int)b.BatchId">@DB2.Strain.Where(t => t.StrainId == @b.StrainID).FirstOrDefault().StrainName  @b.Date  @b.Name</option>

            }

        }
        @if(batchin)
        {
            
        }

    </InputSelect>
</div>

@code {
    private bool batchin = false;
    [Parameter] public int BatchId { get; set; }
    [Parameter] public EventCallback<int> BatchIdChanged { get; set; }
    private Task OnBatchIdChanged(ChangeEventArgs e)
    {
        BatchId = int.Parse(e.Value.ToString());
        appstate.batchid = BatchId;
        batch = Batches.Where(t => t.BatchId == BatchId).FirstOrDefault().Name;
        batchdata = new() { batchId = BatchId, batch = batch };
        TerpeneValue.BatchID = BatchId;
        return batchdataChanged.InvokeAsync((BatchData)batchdata);
        batchin = false;
    }
    [Parameter] public string batch { get; set; }
    [Parameter] public EventCallback<string> batchChanged { get; set; }
    private Task OnbatchChanged(ChangeEventArgs e)
    {
        batch = e.Value.ToString();
        appstate.batchid = BatchId;
        return batchChanged.InvokeAsync(batch);
    }

    [Parameter] public BatchData batchdata { get; set; }
    [Parameter] public EventCallback<BatchData> batchdataChanged { get; set; }
    private Task OnbatchdataChanged(ChangeEventArgs e)
    {

        batchdata = (BatchData)e.Value;
        return batchdataChanged.InvokeAsync((BatchData)batchdata);
    }

    public class BatchData
    {
        public string batch { get; set; }
        public DateOnly? batchDate { get; set; }
        public int batchId { get; set; }
        public BatchData()
        { 
            batch = "";
            batchId = 0;
        }
    }

    public TerpeneValue TerpeneValue
    { get;
        set; } = new();
    private TerpeneValue tv { get; set; } = new();

    public IList<Batch> Batches
    {
        get
        {
            if (batches is null)
            {
                batches = DB2.Batch.ToList();
            }
            return batches;
        }
        set { batches = value; }
    }
    private IList<Batch> batches { get; set; }


}
