<h3>DetailRatingCateogy</h3>

@inject Terprint.Web.Data.TerprintWebContext DB
@inject NavigationManager NavigationManager

@{
    RatingCategory rc = new RatingCategory();
    ratingcategoryid = int.Parse(common.GetQueryValue("ratingcategoryid", NavigationManager));
    ratingcategory = common.GetQueryValue("ratingcategory", NavigationManager);
    if (ratingcategoryid is not null)
    {
        rc = DB.RatingCategory
       .Where(t => t.RatingCategoryId == ratingcategoryid).FirstOrDefault();
    }
    else if (ratingcategory is not null)
    {
        rc = DB.RatingCategory
       .Where(t => t.CategoryName == ratingcategory).FirstOrDefault();

    }
    if (rc.CategoryTitle.Length > 0)
    {

        ratings = DB.Rating
        .Where(t => t.RatingCategoryID == rc.RatingCategoryId)
        .OrderByDescending(t => t.created)
        .ToList();

        batches = DB.Batch
        .Where(t1 => ratings
        .Select(t => t.BatchID)
        .ToList().Contains(t1.BatchId))
        .ToList();
        strain = DB.Strain
       .Where(t1 => t1.StrainId == batches.FirstOrDefault().StrainID)
       .FirstOrDefault();

        batch = batches.FirstOrDefault();
         r = ratings.FirstOrDefault();

        batchid = batch.BatchId.Value;
        batchData = new ChooserBatch.BatchData() { batchId = batch.BatchId.Value, batch = batch.Name };
    }

    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title">@rc.CategoryTitle </h1>
                    </div>
                    <div class="card-header">
                        <h2 class="card-subtitle mb-2 text-muted"> @rc.CategoryDescription</h2>
                    </div>

                </div>
            </div>
        </div>
        @{
            foreach (Rating rating in ratings)
            {
                MarkupString link = new MarkupString(common.CreateRatingCategoryLink(ratingcategory,(int) ratingcategoryid));
                batch = batches.Where(t => t.BatchId == rating.BatchID).FirstOrDefault();
                batchData.batch = batch.Name;
                batchData.batchId = (int)batch.BatchId;
                <div class="row">
                    <div class="col-12">
                        <div class="card">

                            <div class="card">
                                <div class="card-body">
                                    <h2>  @rating.Value </h2>
                                </div>
                            </div>
                            <div class="card-body">
                                @rating.createdby<br /> @rating.created.Date.ToShortDateString()
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">

                        <TerprintTable @bind-batch="@batch.Name" @bind-batchData="@batchData" @bind-matrix="@matrix" @bind-size="@size" @bind-rendermode="@rm"></TerprintTable>
                    </div>
                </div>

            }
        }

    </div>


}
@code {
    public List<Rating>
    ratings
    { get; set; }
    public List<Batch>
            batches
    { get; set; }
    public Strain strain { get; set; }
    public Rating r
    {
        get; set;
    }
    public Batch batch
    {
        get; set;
    }
    public string size { get; set; } = "small";
    public int? matrix { get; set; } = 5;
    public TerprintTable.renderMode rm { get; set; } = TerprintTable.renderMode.tableandheader;
    public string? ratingcategory { get; set; } = "";
    public int? ratingcategoryid { get; set; } = 0;
    public int batchid { get; set; } = 0;
    public ChooserBatch.BatchData batchData { get; set; }
}


