@inject Terprint.Web.Data.TerprintWebContext DB

@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@page "/list2"
@using Terprint.Web.Models

<h3>List2</h3>
@{
    foreach (var batch in DB.Batch.ToList())
    {

        { bd = new Pages.BatchChooser.BatchData() { batch = batch.Name, batchId = (int)batch.BatchId }; }
        <div>
            <TerprintTable @bind-batch="@batch.Name" @bind-batchData="@bd" @bind-matrix="@matrix" @bind-size="@size" @bind-rendermode="@rm"></TerprintTable>
        </div>

    }

}
@code {
    public Components.Pages.BatchChooser.BatchData bd = new Pages.BatchChooser.BatchData();

    public TerprintTable.renderMode rm { get; set; } = TerprintTable.renderMode.tableandheader;
    public int? matrix { get; set; } = 5;
    public string? size { get; set; } = "small";
}
