@page "/straincompare"
@inject Terprint.Web.Data.TerprintWebContext DB
@inject Terprint.Web.Data.TerprintWebContext2 DB2
@using Terprint.Web.Models
@inject NavigationManager nm
@rendermode InteractiveServer
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h3>Strain Compare</h3>
        </div>
    </div>
    @{
        var strains1 = DB.Strain
        .OrderBy(t1 => t1.StrainName)
        .Select(t => new { t.StrainId, t.StrainName })
        .ToList();
        var strains2 = DB.Strain
        .OrderBy(t1 => t1.StrainName)
        .Select(t => new { t.StrainId, t.StrainName })
        .ToList();
    }
    <div class="row">
        <div class="col-md-6 col-12">
            <h3>Strain 1</h3>
            <InputSelect id="strain1" class="m-0 form-control" @bind-Value="@strainid1" @oninput="OnStrainId1Changed">

                @foreach (var b in strains1)
                {
                    <option value=@b.StrainId @onselect="() => strainid1 = (int)b.StrainId">@b.StrainName</option>
                }

            </InputSelect>
        </div>
        <div class="col-md-6 col-12">
            <h3>Strain 2</h3>
            <InputSelect id="strain2" class="m-0 form-control" @bind-Value="@strainid2" @oninput="OnStrainid2Changed">
                @foreach (var b in strains2)
                {
                    <option value=@b.StrainId @onselect="() => strainid2 = (int)b.StrainId">@b.StrainName</option>
                }
            </InputSelect>
        </div>
    </div>
    <div class="row">
        <div class=" col-12">
            @{
                foreach (var r in DB.Batch.Where(t => t.StrainID == strainid1).ToList())
                {

                    ChooserBatch.BatchData bd = new ChooserBatch.BatchData() { batch = r.Name, batchId = (int)r.BatchId };
                    <div class="card">
                        <div class="card-body">
                            <TerprintTable @bind-batch="@bd.batch" @bind-batchData="@bd" @bind-matrix="@matrix" @bind-size="@size" @bind-rendermode="@rm"></TerprintTable>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="  col-12">
            @{
                foreach (var r in DB.Batch.Where(t => t.StrainID == strainid2).ToList())
                {
                    ChooserBatch.BatchData bd = new ChooserBatch.BatchData() { batch = r.Name, batchId = (int)r.BatchId };
                    <div class="card">
                        <div class="card-body">
                            <TerprintTable @bind-batch="@bd.batch" @bind-batchData="@bd" @bind-matrix="@matrix" @bind-size="@size" @bind-rendermode="@rm"></TerprintTable>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
@code {

    public TerprintTable.renderMode rm { get; set; } = TerprintTable.renderMode.table;
    [FromQuery(Name = "matrix")]
    public int? matrix
    {
        get
        {
            try
            {
                var uri = nm.ToAbsoluteUri(nm.Uri);
                if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("matrix", out var _matrix))
                {
                    return Convert.ToInt32(_matrix);
                    //   currentCount = Convert.ToInt32(_initialCount);
                }
                else
                {
                    return 5;
                    return null;
                }
            }
            catch
            {
                return null;
            }
        }
        set { }
    }

    [FromQuery(Name = "size")]
    public string? size
    {
        get
        {
            try
            {
                var uri = nm.ToAbsoluteUri(nm.Uri);
                if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("size", out var _size))
                {
                    return _size;
                    //   currentCount = Convert.ToInt32(_initialCount);
                }
                else
                {
                    return "small";
                    return null;
                }
            }
            catch
            {
                return null;
            }
        }
        set { }
    }

    [Parameter] public int strainid1 { get; set; }
    [Parameter] public EventCallback<int> strainid1Changed { get; set; }
    private Task OnStrainId1Changed(ChangeEventArgs e)
    {
        strainid1 = int.Parse(e.Value.ToString());
        return strainid1Changed.InvokeAsync(strainid1);

    }
    [Parameter] public int strainid2 { get; set; }
    [Parameter] public EventCallback<int> strainid2Changed { get; set; }
    private Task OnStrainid2Changed(ChangeEventArgs e)
    {
        strainid2 = int.Parse(e.Value.ToString());
        return strainid2Changed.InvokeAsync(strainid2);

    }
}
