@page "/terpenevalues/details"
@inject Terprint.Web.Data.TerprintWebContext DB
@using Terprint.Web.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h4>TerpeneValue</h4>
    <hr />
    @if (terpenevalue is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Value</dt>
            <dd class="col-sm-10">@terpenevalue.Value</dd>
            <dt class="col-sm-2">TerpeneName</dt>
            <dd class="col-sm-10">@terpenevalue.TerpeneName</dd>
            <dt class="col-sm-2">BatchID</dt>
            <dd class="col-sm-10">@terpenevalue.BatchID</dd>
            <dt class="col-sm-2">Scale</dt>
            <dd class="col-sm-10">@terpenevalue.Scale</dd>
        </dl>
        <div>
            <a href="@($"/terpenevalues/edit?terpenevalueid={terpenevalue.TerpeneValueId}")">Edit</a> |
            <a href="@($"/terpenevalues")">Back to List</a>
        </div>
    }
</div>

@code {
    TerpeneValue? terpenevalue;

    [SupplyParameterFromQuery]
    public int TerpeneValueId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        terpenevalue = await DB.TerpeneValues.FirstOrDefaultAsync(m => m.TerpeneValueId == TerpeneValueId);

        if (terpenevalue is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
