@using Terprint.Web.Services
@using Microsoft.EntityFrameworkCore
@inject Terprint.Web.Data.TerprintWebContext3 DB
@inject ICacheService CacheService
@inject AuthService AuthService
@inject NavigationManager NavigationManager

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main_nav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/"></a> </li>

                <li class="nav-item"><a class="nav-link" href="/"></a> </li>
                <li class="nav-item"><a class="nav-link" href="/">Home </a> </li>
                <li class="nav-item"><a class="nav-link" href="/straincompare"> Strain Compare </a></li>
                <li class="nav-item"><a class="nav-link" href="/strainmatcher"> Strain Matcher </a></li>
                <li class="nav-item"><a class="nav-link" href="/CannabinoidMatcher"> Cannabinoid Strain Finder </a></li>
                <li class="nav-item"><a class="nav-link" href="/List"> List </a></li>

                <li class="nav-item dropdown" id="myDropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">  Growers   </a>
                    <ul class="dropdown-menu">
                        @if (growers?.Any() == true)
                        {
                            @foreach (var grower in growers)
                            {
                                var urlencoded = System.Web.HttpUtility.UrlEncode(grower.Name);
                                var path = $"/GrowerProfile?grower={urlencoded}";
                                <li>
                                    <NavLink class="dropdown-item" href="@path" Match="NavLinkMatch.All">@grower.Name</NavLink>
                                </li>
                            }
                        }
                    </ul>
                </li>

                <li class="nav-item dropdown" id="myDropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">  Ratings   </a>
                    <ul class="dropdown-menu">
                        @if (ratingCategories?.Any() == true)
                        {
                            @foreach (var rc in ratingCategories)
                            {
                                var urlencoded = System.Web.HttpUtility.UrlEncode(rc.RatingCategoryId.ToString());
                                var path = $"/Ratinglist?RatingCategoryID={urlencoded}";
                                <li>
                                    <NavLink class="dropdown-item" href="@path" Match="NavLinkMatch.All">@rc.CategoryTitle</NavLink>
                                </li>
                            }
                        }
                    </ul>
                </li>

                <li class="nav-item dropdown" id="myDropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">  Strains menu  </a>
                    <ul class="dropdown-menu">
                        @if (strains?.Any() == true)
                        {
                            @foreach (var strain in strains.OrderBy(t => t.StrainName))
                            {
                                var strainPath = $"/StrainProfile?strain={System.Web.HttpUtility.UrlEncode(strain.StrainName)}";
                                <li>
                                    <NavLink class="dropdown-item" href="@strainPath" Match="NavLinkMatch.All">@strain.StrainName &raquo;</NavLink>
                                    <ul class="submenu dropdown-menu">
                                        @if (batches?.Any() == true)
                                        {
                                            @foreach (var batch in batches.Where(b => b.StrainID == strain.StrainId))
                                            {
                                                var urlencoded = System.Web.HttpUtility.UrlEncode(batch.Name);
                                                var batchPath = $"/BatchProfile?size=medium&matrix=1&batch={urlencoded}";
                                                <li>
                                                    <NavLink class="dropdown-item" href="@batchPath" Match="NavLinkMatch.All">@batch.Name</NavLink>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                        }
                    </ul>
                </li>

                <li class="nav-item dropdown" id="myDropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">  Terpenes   </a>
                    <ul class="dropdown-menu">
                        @if (terpeneList?.Any() == true)
                        {
                            @foreach (var terpene in terpeneList)
                            {
                                var terpcolor = c.GetTerpeneColor(terpene);
                                var urlencoded = System.Web.HttpUtility.UrlEncode(terpene);
                                var path = $"/TerpeneProfile?terpene={urlencoded}";
                                <li style="background-color: @terpcolor">
                                    <NavLink class="dropdown-item" href="@path" Match="NavLinkMatch.All">@terpene</NavLink>
                                </li>
                            }
                        }
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown"> Admin </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a class="dropdown-item" href="/growers">Growers » </a>
                            <ul class="submenu submenu-left dropdown-menu">
                                <li><a class="dropdown-item" href="/growers">View</a></li>
                                <li><a class="dropdown-item" href="/growers/create">Enter Grower</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/strains">Strains » </a>
                            <ul class="submenu submenu-left dropdown-menu">
                                <li><a class="dropdown-item" href="/strains">View</a></li>
                                <li><a class="dropdown-item" href="/strains/create">Enter Strain</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/batches">Batches » </a>
                            <ul class="submenu submenu-left dropdown-menu">
                                <li><a class="dropdown-item" href="/batches">View</a></li>
                                <li><a class="dropdown-item" href="/batches/create">Enter Batch</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/terpenevalues">Terpene Values » </a>
                            <ul class="submenu submenu-left dropdown-menu">
                                <li><a class="dropdown-item" href="/terpenevalues">View</a></li>
                                <li><a class="dropdown-item" href="/terpenevalues/create">Enter Values</a></li>
                                <li><a class="dropdown-item" href="/terpenevalues/paste">Paste Values</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/thcvalues">THC Values » </a>
                            <ul class="submenu submenu-left dropdown-menu">
                                <li><a class="dropdown-item" href="/thcvalues">View</a></li>
                                <li><a class="dropdown-item" href="/thcvalues/create">Enter Values</a></li>
                                <li><a class="dropdown-item" href="/thcvalues/paste">Paste Values</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/ratingcategories">Rating Categories » </a>
                            <ul class="submenu submenu-left dropdown-menu">
                                <li><a class="dropdown-item" href="/ratingcategories">View</a></li>
                                <li><a class="dropdown-item" href="/ratingcategories/create">Enter Values</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/ratings">Ratings » </a>
                            <ul class="submenu submenu-left dropdown-menu">
                                <li><a class="dropdown-item" href="/ratings">View</a></li>
                                <li><a class="dropdown-item" href="/ratings/create">Enter Values</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <AuthorizeView>
                    <Authorized>

                        <li class="nav-item"><a class="nav-link" href="Account/Manage">Manage Account</a> </li>
                        <li class="nav-item">
                            @{
                                var returnUrl = $"/";
                                <NavLink title="Logout" class="nav-link" href=@($"Logout?redirectUri={returnUrl}") Match="NavLinkMatch.Prefix">Logout   @context.User.Identity?.Name</NavLink>
                            }
                        </li>
                    </Authorized>

                    <NotAuthorized>

                        <li class="nav-item"><a class="nav-link" href="Account/Register">Register</a> </li>
                        <li class="nav-item"><a class="nav-link" href="Account/Login">Login</a> </li>

                    </NotAuthorized>
                </AuthorizeView>

            </ul>
        </div>
        <!-- navbar-collapse.// -->
    </div>
    <!-- container-fluid.// -->
</nav>

@code {
    private List<Grower> growers = new();
    private List<Strain> strains = new();
    private List<Batch> batches = new();
    private List<TerpeneValue> terpenes = new();
    private List<THCValue> thcs = new();
    private List<RatingCategory> ratingCategories = new();
    private List<Rating> ratings = new();
    private common.Components c = new common.Components();
    private List<string> terpeneList = new();

    protected override async Task OnInitializedAsync()
    {
        growers = await CacheService.GetOrCreateAsync("growers:all", async () => await DB.Grower.ToListAsync(), TimeSpan.FromMinutes(30));
        strains = await CacheService.GetOrCreateAsync("strains:all", async () => await DB.Strain.ToListAsync(), TimeSpan.FromMinutes(30));
        batches = await CacheService.GetOrCreateAsync("batches:all", async () => await DB.Batch.ToListAsync(), TimeSpan.FromMinutes(30));
        terpenes = await CacheService.GetOrCreateAsync("terpenes:all", async () => await DB.TerpeneValues.ToListAsync(), TimeSpan.FromMinutes(30));
        thcs = await CacheService.GetOrCreateAsync("thc:all", async () => await DB.THCValues.ToListAsync(), TimeSpan.FromMinutes(30));
        ratingCategories = await CacheService.GetOrCreateAsync("ratingcats:all", async () => await DB.RatingCategory.ToListAsync(), TimeSpan.FromMinutes(30));
        ratings = await CacheService.GetOrCreateAsync("ratings:all", async () => await DB.Rating.ToListAsync(), TimeSpan.FromMinutes(30));

        // terpene list comes from common.Components
        terpeneList = c.GetTerpeneList() ?? new List<string>();
    }

    void NevigateToYourUrl(string path)
    {
        NavigationManager.NavigateTo(path, true);
    }

    private string? currentUrl;
    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}
