@page
@model Terprint.Pages.ListModel
@{
    // Terprint.Pages.TableModel tm = new Terprint.Pages.TableModel();
    Model.loadData();
}


<form asp-route-matrix="@Model.matrix" asp-route-strain="@Model.strain" method="get">


    <div class="row" style="visibility:hidden;">
        <div class="col-3">
            <label for="size" class="form-label">Matrix Size</label>

            <select name="size" asp-for="size" asp-items="Model.c.OptionsSize" asp-asp-for="strainModel.size" class="form-select"></select>
        </div>
        <div class="col-3">
            <label for="matrix" class="form-label">Matrix Number</label>
            <select name="matrix" asp-for="matrix" asp-items="Model.c.OptionsMatrix" asp-asp-for="strainModel.matrix" class="form-select"></select>
        </div>
        <div class="col-4">
            <label for="strain" class="form-label">Strain/Batch</label>
            <select name="strain" asp-for="strain" asp-items="Model.c.Options" asp-asp-for="strainModel.strain" class="form-select"></select>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary">Click</button>
        </div>
    </div>

</form>
<div class="container-fluid">


    <div class="row ">
        @foreach (var r in Model.c.TerpValues.Select(t => t.Batch).Distinct().ToList())
        {

            var strain = Model.c.TerpValues.Where(t => t.Batch == r).FirstOrDefault();
            var urlpart = System.Net.WebUtility.UrlEncode(strain.Strain + "|" + strain.Batch);
            var link = "/Table?size=Medium&matrix=1&strain=" + urlpart;
            var rating = Convert.ToInt32(Model.c.ratings.UserRatings.Where(t => t.batch == strain.Batch).Select(t => t.OverallRating).FirstOrDefault().ToString());
            var counter = 1;
            <div class="col-12 col-xxl-4 col-xl-4 col-lg-4 col-md-6">

                <div class="float-start">
                    <a href="@link">
                        @strain.Strain
                    </a>
                    <br />
                    @r
                    <br />

                    @while (counter < 11)
                    {
                        if (rating >= counter)
                        {

                            <span class="fa fa-star checked w3-large"></span>

                        }
                        else
                        {
                            <span class="fa fa-star"></span>
                        }
                        counter++;
                    }
                </div>
                <div class="float-end">
                    @{

                        Model.c.terprintTable(@r,"name");
                    }
                    @Html.Raw(Model.c.outputrows)

                </div>
            </div>


        }
        <div class="col-12">
            @*      @{

            Model.terprintTable("");
            }
            @Html.Raw(Model.outputrows) *@

        </div>
    </div>
</div>