@page "/batches/details"
@inject Terprint.Web.Data.TerprintWebContext DB
@using Terprint.Web.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

@{
    string title = "Details Batch - " + BatchId;
}
<PageTitle>Details Batch</PageTitle>

<h1>Details</h1>

<div>
    <h4>Batch</h4>
    <hr />
    @if (batch is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@batch.Name</dd>
            <dt class="col-sm-2">Type</dt>
            <dd class="col-sm-10">@batch.Type</dd>
            <dt class="col-sm-2">Date</dt>
            <dd class="col-sm-10">@batch.Date</dd>
        </dl>
        <div>
            <a href="@($"/batches/edit?batchid={batch.BatchId}")">Edit</a> |
            <a href="@($"/batches")">Back to List</a>
        </div>
    }
</div>

@code {
    Batch? batch;

    [SupplyParameterFromQuery]
    public int BatchId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        batch = await DB.Batch.FirstOrDefaultAsync(m => m.BatchId == BatchId);

        if (batch is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
