@inject Terprint.Web.Data.TerprintWebContext DB
@inject Terprint.Web.Data.TerprintWebContext2 DB2
@using Terprint.Web.Models
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<div class="mb-3">
    <label for="batch" class="form-label">Batch:</label>
    <InputSelect id="batch" class="m-0 form-control" @bind-Value="@TerpeneValue.BatchID" @oninput="OnBatchIdChanged" >
        <option selected disabled>Select Batch</option>
        @foreach (var b in Batches)
        {
            <option value=@b.BatchId  @onselect="() => TerpeneValue.BatchID = b.BatchId">@DB2.Strain.Where(t => t.StrainId == @b.StrainID).FirstOrDefault().StrainName  @b.Date  @b.Name</option>
        }

    </InputSelect>
</div>

@code {
    [Parameter] public int BatchId { get; set; }
    [Parameter] public EventCallback<int> BatchIdChanged { get; set; }
    private Task OnBatchIdChanged(ChangeEventArgs e)
    {
        BatchId = int.Parse(e.Value.ToString());
        return BatchIdChanged.InvokeAsync((int)BatchId);
    }
     
    
    public TerpeneValue TerpeneValue
    { get; set; } = new();
    private TerpeneValue tv { get; set; } = new();

    public IList<Batch> Batches
    {
        get
        {
            if (batch is null)
            {
                batch = DB2.Batch.ToList();
            }
            return batch;
        }
        set { batch = value; }
    }

    private IList<Batch> batch { get; set; }

}
