 @page "/GrowerProfile"

@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.WebUtilities
@using Terprint.Web.Models
@using Terprint.Web.Services
@inject NavigationManager NavManager
@inject Terprint.Web.Data.TerprintWebContext DB
@inject Terprint.Web.Components.ChooserBatch ChooserBatch
@inject Terprint.Web.Components.ChooserRatingCategory ChooserRatingCategory
@inject common.AppState.StateContainer.Grower asGrower
@inject common.AppState.StateContainer.Batch asBatch
@inject common.AppState.StateContainer.Strain asStrain
@inject common.AppState appstate
@inject AuthService AuthService
@rendermode InteractiveServer

@{

    string title = common.config.appname + " - grower Profile - " + grower;
}
<PageTitle>@title</PageTitle>
@code { 

    public bool isAuth { get; set; }

    protected override async Task OnInitializedAsync()
    {
        isAuth = await AuthService.IsAuthenticatedAsync();
    }

    public Components.ChooserBatch.BatchData bd = new ChooserBatch.BatchData();

    public TerprintTable.renderMode rm { get; set; } = TerprintTable.renderMode.tableandheader;

    [FromQuery(Name = "grower")]
    public string? grower
    {
        get
        {
            try
            {
                var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
                if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("grower", out var _grower))
                {

                    return _grower;
                    //   currentCount = Convert.ToInt32(_initialCount);
                }
                else
                {
                    return "";
                    return null;
                }
            }
            catch
            {
                return null;
            }
        }
        set { }
    }

    public int? matrix { get; set; } = 5;
    public string? size { get; set; } = "small";

    public ChooserBatch.BatchData batchData
    {

        get; set;
    }
    private ChooserBatch.BatchData batchdata { get; set; }
}

@{
    int growerid = asGrower.Growers
                    .Where(t => t.Name == grower)
                    .Select(t => t.GrowerId).FirstOrDefault();
    var batches = asBatch.Batches

        .OrderByDescending(t => t.Date)
        // .OrderByDescending(t => t.Date)
        .Where(t => t.GrowerID == growerid)
        .ToList();
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title" style="mix-blend-mode:difference;color:white">@grower Profile</h5>
    </div>
    <div class="card-body">
        <h6>@batches.Count() Batches</h6>
    </div>
</div>
@{
    if (isAuth)
    {
        foreach (var batch in batches)
        {

            { bd = new ChooserBatch.BatchData() { batch = batch.Name, batchId = (int)batch.BatchId }; }
            <div class="card">
                <div class="card-body">
                    <TerprintTable @bind-batch="@batch.Name" @bind-batchData="@bd" @bind-matrix="@matrix" @bind-size="@size" @bind-rendermode="@rm"></TerprintTable>
                </div>
            </div>

        }
    }
    else
    {

        <p>There are @batches.Count() batches in the database.</p>
        <p><a href="/Account/Login">Log in</a> to view the list.</p>
    }
}
