@page "/StrainProfile"

@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.WebUtilities
@using Terprint.Web.Models
@using Terprint.Web.Services
@inject AuthService AuthService
@inject NavigationManager NavManager
@inject Terprint.Web.Data.TerprintWebContext DB
@inject Terprint.Web.Components.ChooserBatch ChooserBatch
@inject Terprint.Web.Components.ChooserRatingCategory ChooserRatingCategory
@inject common.AppState appstate
@rendermode InteractiveServer

@{

    string title = common.config.appname + " - Strain Profile - " + strain;
}
<PageTitle>@title</PageTitle>
@code {
    private string title = "";
    public Components.ChooserBatch.BatchData bd = new ChooserBatch.BatchData();

    public TerprintTable.renderMode rm { get; set; } = TerprintTable.renderMode.nostrain;

    private bool isAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        isAuthenticated = await AuthService.IsAuthenticatedAsync();
    }
    [FromQuery(Name = "strain")]
    public string? strain
    {
        get
        {
            try
            {
                var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
                if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("strain", out var _strain))
                {

                    return _strain;
                    //   currentCount = Convert.ToInt32(_initialCount);
                }
                else
                {
                    return "";
                    return null;
                }
            }
            catch
            {
                return null;
            }
        }
        set { }
    }

    public int? matrix { get; set; } = 5;
    public string? size { get; set; } = "small";

    public ChooserBatch.BatchData batchData
    {

        get; set;
    }
    private ChooserBatch.BatchData batchdata { get; set; }
}

@{
    int strainid = DB.Strain
                    .Where(t => t.StrainName == strain)
                    .Select(t => t.StrainId).FirstOrDefault();
    var batches = DB.Batch
        .OrderByDescending(t => t.Date)
        .Where(t => t.StrainID == strainid)
        .ToList();

}

<div class="card">
    <div class="card-header">
        <h5 class="card-title" style="mix-blend-mode:difference;color:white">@strain Profile</h5>
    </div>
    <div class="card-body">
        <h6>@batches.Count() Batches</h6>
    </div>
</div>
@{

    if (isAuthenticated)
    {

        foreach (var batch in batches)
        {

            { bd = new ChooserBatch.BatchData() { batch = batch.Name, batchId = (int)batch.BatchId }; }
            <div class="card">
                <div class="card-body">
                    <TerprintTable @bind-batch="@batch.Name" @bind-batchData="@bd" @bind-matrix="@matrix" @bind-size="@size" @bind-rendermode="@rm"></TerprintTable>
                </div>
            </div>


        }
    }
    else
    {

        <p>There are @batches.Count()  batches for @strain in the database.</p>
        <p><a href="/Account/Login">Log in</a> to view the list.</p>
    }
}
 