@page "/table2"
@model Terprint.Pages.TableModel
 
@{
    Model.loadData();
}


<form asp-route-matrix="@Model.c.matrix" asp-route-strain="@Model.c.strain" method="get">


    <div class="row">
        <div class="col-3">
            <label for="size" class="form-label">Matrix Size</label>

            <select name="size" asp-for="c.size" asp-items="Model.c.OptionsSize" asp-asp-for="strainModel.size" class="form-select"></select>
        </div>
        <div class="col-3">
            <label for="matrix" class="form-label">Matrix Number</label>
            <select name="matrix" asp-for="c.matrix" asp-items="Model.c.OptionsMatrix" asp-asp-for="strainModel.matrix" class="form-select"></select>
        </div>
        <div class="col-4">
            <label for="strain" class="form-label">Strain/Batch</label>
            <select name="strain" asp-for="strain" asp-items="Model.c.Options" asp-asp-for="strainModel.strain" class="form-select"></select>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary">Click</button>
        </div>
    </div>

</form>
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <p class="lead">@Model.c.strain @Model.c.batch</p>
        </div> 
        <div class="col-6">
            <p class="lead">  @Model.c.currentTerpenes  Terpenes  @Math.Round(Model.c.currentStrain.Where(t => t.Value > 0).Select(t => t.Value * .1).Sum(), 4) % </p>
        </div>
    </div>
    <div class="row">

        <div class="col-12 ">
            <p>@string.Join(", ", Model.c.currentStrain.Where(t => t.Value > 0).OrderByDescending(t => t.Value).Select(i => i.TerpName + " " + Math.Round(i.Value * .1, 4) + "%"))</p>
        </div>
    </div>

    <div class="row">

        <div class="col-12">
            @{
                

            }
            @Html.Raw(Model.c.outputrows)

        </div>
    </div>
</div>