@page "/TerpeneProfile"
@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.WebUtilities
@using Terprint.Web.Models
@inject NavigationManager NavManager
@inject Terprint.Web.Data.TerprintWebContext DB
@inject Terprint.Web.Components.ChooserBatch ChooserBatch
@inject Terprint.Web.Components.ChooserRatingCategory ChooserRatingCategory
@inject common.AppState appstate
@inject common.AppState.StateContainer.Batch appstatebatch
@inject common.AppState.StateContainer.TerpeneValue asterpenevalue
@rendermode InteractiveServer


@{

    string title = @common.config.appname + " - Terpene Profile - " + @terpene;
}
<PageTitle>@title</PageTitle>
 
@code {
    public Components.ChooserBatch.BatchData bd = new ChooserBatch.BatchData();

    public TerprintTable.renderMode rm { get; set; } = TerprintTable.renderMode.tableandheader;
    public string terpcolor { get; set; }
    [FromQuery(Name = "terpene")]
    public string? terpene
    {
        get
        {
            try
            {
                var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
                if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("terpene", out var _out))
                {
                    return _out;
                    //   currentCount = Convert.ToInt32(_initialCount);
                }
                else
                {
                    return "";
                    return null;
                }
            }
            catch
            {
                return null;
            }
        }
        set { }
    }

    public int? matrix { get; set; } = 5;
    public string? size { get; set; } = "small";

    public ChooserBatch.BatchData batchData
    {

        get; set;
    }
    private ChooserBatch.BatchData batchdata { get; set; }
}

@{

    common.Components c = new common.Components();
    string dbterpname = c.GetDBTerpName(terpene);


    var terpenevalueslist = asterpenevalue.TerpeneValues
                    .Where(t => t.TerpeneName == dbterpname)
        .OrderByDescending(t => t.Value)
                    .Select(t => new 
                    { batchid = t.BatchID, 
                        Name = appstatebatch.Batches.Where(t1 => t1.BatchId == t.BatchID).Select(t2 => t2.Name).FirstOrDefault(),
                        Value=t.Value,
                        dbterpname=dbterpname})
                    .Distinct()
                    .ToList();
    int i = 1;
    terpenevalueslist = terpenevalueslist.OrderByDescending(t => t.Value).ToList();
    terpcolor = c.GetTerpeneColor(terpene);

    <div class="card">
        <div class="card-header" style="background:@terpcolor">
            <h5 class="card-title" style="mix-blend-mode:difference;color:white">@terpene Profile</h5>
        </div>
        <div class="card-body">
            <h7 class="card-title">@c.GetTerpeneDescription(terpene)</h7>
        </div>
        <div class="card-body">
            <h6>@terpenevalueslist.Count Batches</h6>
        </div>
    </div>
    foreach (var t in terpenevalueslist.OrderByDescending(t=>t.Value))
    {
        { bd = new ChooserBatch.BatchData() { batch = t.Name, batchId = (int)t.batchid }; }
        <div class="card">
            <div class="card-body">
                <TerprintTable   @bind-batchData="@bd" @bind-matrix="@matrix" @bind-size="@size" @bind-rendermode="@rm"></TerprintTable>
            </div>
        </div>
        i++;
    }


}