@attribute [Authorize]
@page "/thcvalues"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject Terprint.Web.Data.TerprintWebContext DB
@using Terprint.Web.Models

<PageTitle>THC Values</PageTitle>

<h1>THC Values</h1>

<p>
    <a href="thcvalues/create">Create New</a>
</p>
<QuickGrid Items="@DB.THCValues.AsQueryable()" Class="table">

    <PropertyColumn Title="Batch" Property="thcvalue => DB.Batch.Where(t=>t.BatchId== thcvalue.BatchID).FirstOrDefault().Name" />
    <PropertyColumn Title="Strain" Property="thcvalue => DB.Strain.Where(t1=>t1.StrainId== DB.Batch.Where(t=>t.BatchId== thcvalue.BatchID).FirstOrDefault().StrainID).FirstOrDefault().StrainName" />
    <PropertyColumn Property="thcvalue => thcvalue.Analyte" />
    <PropertyColumn Property="thcvalue => thcvalue.Dilution" />
    <PropertyColumn Property="thcvalue => thcvalue.LOD" />
    <PropertyColumn Property="thcvalue => thcvalue.LOQ" />
    <PropertyColumn Property="thcvalue => thcvalue.Result" />
    <PropertyColumn Property="thcvalue => thcvalue.Percent" />

    <TemplateColumn Context="thcvalue">
        <a href="@($"thcvalues/edit?thcvalueid={thcvalue.THCValueId}")">Edit</a> |
        <a href="@($"thcvalues/details?thcvalueid={thcvalue.THCValueId}")">Details</a> |
        <a href="@($"thcvalues/delete?thcvalueid={thcvalue.THCValueId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

<Paginator State="@pagination" />
@code {
    PaginationState pagination = new PaginationState { ItemsPerPage = 10 };
    IQueryable<THCValue>? itemsQueryable;
    protected override async Task OnInitializedAsync()
    {
        // itemsQueryable = await DB.THCValues.as DB.THCValues.AsQueryable();
    }
}