@attribute [Authorize]
@page "/thcvalues"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject Terprint.Web.Data.TerprintWebContext DB
@using Terprint.Web.Models
@rendermode InteractiveServer
@inject common.AppState.StateContainer.THCValue asthcvalues

<PageTitle>THC Values</PageTitle>

<h1>THC Values</h1>

<p>
    <a href="thcvalues/create">Create New</a>
    <a href="thcvalues/paste">Paste Values </a>
</p>



<Grid TItem="THCValue"
      Class="table table-hover table-bordered table-striped"
      DataProvider="THCValueDataProvider"
      AllowFiltering="true"
      AllowPaging="true"
      PageSize="20"
      AllowSorting="true"
      AllowSelection="true"
      SelectionMode="GridSelectionMode.Multiple"
      SelectedItemsChanged="OnSelectedItemsChanged"
      Responsive="true">
    <GridColumns>
        <GridColumn TItem="THCValue" HeaderText="Analyte" PropertyName="Analyte" SortKeySelector="item => item.Analyte">
            @context.Analyte
        </GridColumn> 
        <GridColumn TItem="THCValue" HeaderText="LOD" PropertyName="LOD" SortKeySelector="item => item.Percent">
            @context.LOD
        </GridColumn>
        <GridColumn TItem="THCValue" HeaderText="LOQ" PropertyName="LOQ" SortKeySelector="item => item.Percent">
            @context.LOQ
        </GridColumn>
        <GridColumn TItem="THCValue" HeaderText="Result" PropertyName="Result" SortKeySelector="item => item.Percent">
            @context.Result
        </GridColumn>
        <GridColumn TItem="THCValue" HeaderText="Percent" PropertyName="Percent" SortKeySelector="item => item.Percent">
            @context.Percent
        </GridColumn>
        <GridColumn TItem="THCValue" HeaderText="created" PropertyName="created" SortKeySelector="item => item.created">
            @context.created
        </GridColumn>
        <GridColumn TItem="THCValue" HeaderText="BatchID" PropertyName="BatchID" SortKeySelector="item => item.BatchID">
            @context.BatchID
        </GridColumn>
    </GridColumns>

</Grid>
@code {
    PaginationState pagination = new PaginationState { ItemsPerPage = 10 };
    IQueryable<THCValue>? itemsQueryable;
    protected override async Task OnInitializedAsync()
    {
        // itemsQueryable = await DB.THCValues.as DB.THCValues.AsQueryable();
    }


    private IEnumerable<THCValue> THCValues;
    private HashSet<THCValue> selectedTHCValues = new();

    protected override void OnInitialized()
    {
        THCValues = asthcvalues.THCValues.OrderByDescending(t => t.created).ToList();
    }

    private async Task<GridDataProviderResult<THCValue>> THCValueDataProvider(GridDataProviderRequest<THCValue> request)
    {
        return await Task.FromResult(request.ApplyTo(THCValues));
    }
    private Task OnSelectedItemsChanged(HashSet<THCValue> THCValues)
    {
        selectedTHCValues = THCValues is not null && THCValues.Any() ? THCValues : new();
        return Task.CompletedTask;
    }
}